iframe {
  display: none;
}

@font-face {
  font-family: "sensei";
  src: local("sensei"), url(./sensei.ttf) format("truetype");
}

.summer {
  background: linear-gradient(
    90deg,
    rgba(247, 196, 89, 1) 0%,
    rgba(254, 73, 73, 1) 42%,
    rgba(252, 123, 187, 1) 100%
  ) !important;
}

.winter {
  background: linear-gradient(
    90deg,
    rgba(145, 188, 225, 1) 0%,
    rgba(202, 155, 205, 1) 42%,
    rgba(252, 123, 187, 1) 100%
  ) !important;
}

