/* Global styles */
body {
  font-family: Arial, sans-serif; /* Change the font family to a more readable one */
  margin: 0;
  padding: 0;
}

/* Container styles */
.season-display-container {
  display: flex;
}

.map-container {
  width: 40%;
  height: 100%; /* Adjust height as needed */
}

.weather-details-container {
  width: 60%;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Weather details styles */
.weather-details {
  /* position: absolute;  */
  /* max-height: 50vh; */
  padding: 20px; /* Add padding to the weather details */
  background-color: rgba(255, 255, 255, 0.7); /* Set background color with opacity */
  border-radius: 10px; /* Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

/* Nearby places styles */
.places-title {
  font-size: 1.5rem; /* Increase font size for title */
}

.places-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 10px 0; /* Add margin to separate from weather details */
}

.place-item {
  margin-bottom: 5px; /* Add some space between place items */
}

/* Icon styles */
.icon-left,
.icon-right {
  /* position: absolute; */
  font-size: 2rem; /* Increase icon size */
}

.icon-left {
  top: 10px;
  left: 10px;
}

.icon-right {
  bottom: 10px;
  right: 10px;
}

/* Season-specific styles */
.summer {
  background-color: orange;
}

.winter {
  background-color: aliceblue;
}

/* Leaflet map container */
.leaflet-map {
  margin: 5px;
  width: 96%; /* Set map width to 100% */
  height: 100vh;; /* Set the initial height */
  margin-top: 20px; /* Add margin to separate from weather details */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.keyword-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.places-list {
  list-style-type: none;
  padding: 0;
}

.place-item {
  padding: 5px;
  border-bottom: 2px solid grey; /* Add a border between items */
}

.places-title {
  margin-top: 10px;
}

.footer {
  text-align: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .season-display-container {
    flex-direction: column; /* Change layout to vertical for smaller screens */
  }

  .map-container {
    width: 100%; /* Occupy full width on smaller screens */
    height: 50vh; /* Adjust height for smaller screens */
  }

  .weather-details-container {
    width: 100%; /* Occupy full width on smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .leaflet-map {
    height: 50vh; /* Adjust map height for smaller screens */
  }


  .search-container {
    flex-direction: column; /* Change layout to vertical for smaller screens */
    align-items: stretch; /* Stretch items to occupy full width */
  }

  .search-button {
    margin: 10px 0; /* Add margin top and bottom for search button */
  }
}

.places-container {
  /* max-height: 300px; Default maximum height */
  overflow-y: auto;
}

@media (max-width: 768px) {
  .places-container {
    /* max-height: 200px; Adjust maximum height for smaller screens */
  }
}